.react-calendar__tile--now {
  background-color: rgb(8, 223, 122);
  border-radius: 10px;
}

.react-calendar__month-view__weekdays {
  color: purple;
}
.react-calendar{
  margin-top: 10px;
  border-radius: 10px;
}
.react-clock__second-hand__body{
  background-color: purple;
}
@tailwind base;
@tailwind components;
@tailwind utilities;